<?xml version="1.0"?>

<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <include file="$(find spiri_description)/launch/citadel_hill_ground_plane.launch">
 
  </include>

  <include file="$(find spiri_description)/launch/description.launch" />
</launch>

