<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="M_PI" value="3.1415926535897931" />

  <xacro:macro name="generic_tof" params="name parent *origin ros_topic noise update_rate">
    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>
    
    <link name="${name}_link">
      <inertial>
        <mass value="0.001" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.01 0.01 0.01" />
        </geometry>
        <material name="Blue">
          <color rgba="0.0 0.0 0.8 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.01 0.01 0.01" />
        </geometry>
      </collision>
    </link>
    
    
    <gazebo reference="${name}_link">
      <sensor type="ray" name="${name}_tof_sensor">
      <pose>0 0 0 0 0 0 </pose>
    

        <ray>
	  <scan>
          <horizontal>
		<samples>100</samples>
		<resolution>1.0</resolution>
		<min_angle>-0.5236</min_angle>
		<max_angle>0.5236</max_angle>
	  </horizontal>
	  <vertical>
		<samples>100</samples>
		<resolution>1.0</resolution>
		<min_angle>0.0</min_angle>
		<max_angle>0.5236</max_angle>
	  </vertical>
	  </scan>
	  <range>
		<min>0.05</min>
		<max>50.0</max>
		<resolution>0.01</resolution>
	  </range>
	</ray>

	  
        <plugin name="${name}_tof_controller" filename="libgazebo_block_laser_pcl2.so">
          <topicName>${ros_topic}</topicName>
          <alwaysOn>true</alwaysOn>
          <updateRate>${update_rate}</updateRate>
          <pcl>1.0</pcl>
	  <gaussianNoise>${noise}</gaussianNoise>
          <frameName>${name}_link</frameName>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot>

